
.sec_black {background: #000;}
.sec_video img, .sec_visual img {max-width: 100%}
.iw_component.tCenter {text-align: center}

.responsive.sec_tone {max-width: 1600px; margin: 0 auto; position: relative;}
.responsive.sec_tone img {max-width: 100%}

.responsive.sec_tone .f_white {color: #fff!important;}
.responsive.sec_tone .list_star {font-size: 14px; color: #888;}
.responsive.sec_tone .list_star li {text-indent: -6px;margin-left: 9px;word-break: keep-all;text-align: left; line-height: 1.7}
.responsive.sec_tone .list_star li + li {margin-top: 2px;}
.responsive.sec_tone .list_star li:before {content: "*";display: inline-block;margin: 0 5px 0 0;}
.responsive.sec_tone .btn_bg_gray {
    display: inline-block;
    min-width: 300px;
    min-height: 70px;
    background: #666;
    border: 4px solid #fff;
    color:#fff;
    border-radius: 300px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    position: relative; z-index: 10;
}
.responsive.sec_tone .m_show {display: none}

.responsive .title h3 {color: #a2a2a2; font-size: 20px; margin-bottom: 30px; font-weight: 700}
.responsive .title h4 {color: #fff; font-size: 32px; margin-bottom: 30px; font-weight: 700}
.responsive .title .sub_title {color: #000; font-size: 40px; margin-bottom: 30px; font-weight: 700; line-height: 1.5}
.responsive .sub_copy {color: #141414; font-size: 20px; line-height: 1.5; font-weight: 400;}
.responsive.usp_0204 {background: #eff0f2}



@media only screen and (min-width: 768px) {
    .responsive .col_half {display: table-cell;width: 50%;vertical-align: middle;}
    .responsive .col_half.right {padding-left: 80px;}
    .responsive.usp_0201 {padding-bottom: 69px;}
    .responsive[class*="usp_"] .col_half:not(.right) {padding-left: 100px;}
    .responsive[class*="usp_"].usp_0204 .col_half:not(.right) {padding-left: 0;}

    .responsive.usp_0202 .btn_certi {
        position: absolute;
        right: 26%;
        bottom: 10%;
        width: 18.625%;
        height: 7.777777%;
        background: red;
        opacity: 0.5;
        z-index: 10;
    }

    .responsive.usp_0203 .btn_certi {
        position: absolute;
        left: 16.375%;
        bottom: 21.4444%;
        width: 18.625%;
        height: 7.777777%;
        background: red;
        opacity: 0.5;
        z-index: 10;
    }

    .responsive.usp_0204 .btn_306 {
        position: absolute;
        right: 23%;
        bottom: 7.333333%;
        width: 18.625%;
        height: 7.777777%;
        background: red;
        opacity: 0.5;
        z-index: 10;
    }
}


@media only screen and (min-width: 1400px) {
    .usp_0201 .col_half:not(.right) {padding-left: 256px;}
}

@media only screen and (max-width: 767px) {



    .responsive.sec_tone .img_full img {width: 100%}
    .responsive.sec_tone * {word-break: keep-all;}
    .responsive.sec_tone .m_show {display: block;}

    .responsive .title h3 {font-size: 16px; margin-bottom: 13px}
    .responsive .title h4 {font-size: 16px;}
    .responsive .title .sub_title {font-size: 27px;}
    .responsive .sub_copy {font-size: 16px;}
    .responsive .br_m_hidden {display: none;}
    .responsive.sec_tone .list_star {font-size: 12px;}
    .responsive.sec_tone .btn_bg_gray {min-height: 56px; min-width: 250px;font-size: 16px;}


    .responsive.usp_0202 {text-align: center;}
    .responsive.usp_0202 .col_half.right .title:not(.second) {position: absolute; top: 39px; left: 50%; transform: translateX(-50%)}
    .responsive.usp_0202 .sub_copy {width: 176px; margin: 0 auto 27px;}
    .responsive.usp_0202 .area_certi {text-align: left; position: relative; min-height: 138px;font-size: 12px;margin: 19px 0 15px;padding: 20px 105px 0 10px;line-height: 1.8;}
    .responsive.usp_0202 .area_certi img {width: 63.5px; position: absolute; right:0; top:0;}

    /*.responsive.usp_0203 {text-align: center; padding-top: 290px; padding-bottom: 30px;}*/
    .responsive.usp_0203 h4, .responsive.usp_0203 .sub_copy {text-align: right}
    .responsive.usp_0203 .list_star {margin: 30px 0;}
    .responsive.usp_0203 .list_star li {text-align: center}
    .responsive.usp_0203 .col_half:not(.right) {position: relative; z-index: 10}
    .responsive.usp_0203 .col_half.right .mediaImg {position: absolute; left:0; top: -202px; width: 360px;}


    .responsive.usp_0202 .btn_certi {
        position: absolute;
        left: 15.2777%;
        bottom: 0;
        width: 69.16666%;
        height: 6.9468%;
        background: red;
        opacity: 0.5;
        z-index: 10;
    }

    .responsive.usp_0203 .btn_certi {
        position: absolute;
        left: 15.2777%;
        bottom: 4.2%;
        width: 69.16666%;
        height: 8.9468%;
        background: red;
        opacity: 0.5;
        z-index: 10;
    }

    .responsive.usp_0204 .btn_306 {
        position: absolute;
        left: 15.2777%;
        bottom: 0;
        width: 69.16666%;
        height: 6.9468%;
        background: red;
        opacity: 0.5;
        z-index: 10;
    }
}

.sec_black .title .sub {color: #898989}
.sec_black .title .strong {color: #fff}